// caravan24 colors

$wp-primary: #3b7859
$c24-secondary: #f8a913
$blue: $wp-primary

$red: #FA4133
$orange: #ff9149
$green: #28d094
$cyan: #666ee8 

$primary: $wp-primary
$secondary: $c24-secondary
$success: $green;
$info: $blue
$warning: $orange

