.card-header
  background-color: #f6f6f6

  .card-title
    color: $gray-800
    font-weight: 600
    font-size: 1.2rem
    .step
      border: 1px solid $primary
      background: $primary
      color: $white
      display: inline-flex
      align-items: center
      justify-content: center
      text-align: center
      border-radius: 50%
      width: 32px
      height: 32px
      margin-right: 6px
      padding-left: 9px
      padding-right: 8px

    .help 
      display: inline-flex
      .la
        font-size: 1.6rem
        color: $orange