
  
.nav.nav-pills
  .nav-item .nav-link 
    display: block
    font-size: 1.25rem

    i
      margin-right: 8px
      font-size: 1.25em

.nav-pills .nav-link.active, .nav-pills .show >.nav-link
  color: #fff
  background-color: $c24-primary


//underline
.nav.nav-tabs.nav-underline 
  
  .nav-item a.nav-link 
    color: $c24-primary

  .nav-item a.nav-link.active
    font-weight: 600

  .nav-item a.nav-link:before
    background-color: $c24-primary

  
//tabs reiter
.nav.nav-tabs:not(.nav-underline)
  border-bottom: 1px solid $c24-primary
  border-radius: 0

  .nav-item
    &:not(:first-child)
      margin-left: .5rem

  .nav-item .nav-link
    padding: 0.25rem 1rem
    background-color: $white
    font-size: 1.125rem
    border-left: 0
    border-right: 0
    border-bottom: 1px solid $c24-primary
    border-radius: 3px 3px 0 0 
    transition: all .3s ease

    &:hover:not(.active)
      background-color: $c24-primary
      color: $white

  .nav-item .nav-link.active
    background-color: $c24-primary
    color: $white
    border-radius: 3px 3px 0 0 

  .nav-link.active
    border-color: $c24-primary

  .nav-link.c24-required
    .c24-required-marker
      display: none
    &.c24-is-empty
      background-color: rgba($warning, .075)
      color: $warning
      border-top: 1px solid $warning
      border-right: 1px solid $warning
      border-left: 1px solid $warning

      .c24-required-marker
        display: inline



@include media-breakpoint-down(xs)
  .nav 

    &.nav-pills
      .nav-item .nav-link 
        display: block
        font-size: 1.25rem
        text-align: left

    &.nav-tabs
      .nav-item 
        list-style: none!important
        flex: 1 100%!important
        width: 100%
        .nav-link
          text-align: left!important