/* all header styles from here */

.header-navbar
    font-family: inherit

.header-navbar .navbar-header .navbar-brand .brand-text
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    font-weight: 900
    color: $c24-secondary
    font-size: 2rem
    span
        color: $wp-primary
        font-style: italic

.header-navbar .navbar-header .navbar-brand
    max-width: 220px
    text-align: center
    overflow: hidden

    
.header-navbar .navbar-container
    .dropdown-user-link:hover
        background: $secondary
    .user-name
        margin-bottom: 0.4rem

    .dropdown-toggle.round
        border-radius: 2.5rem


.btn-settings
    height: 100%
    .dropdown-menu.arrow-right.arrow:after,
    .dropdown-menu.arrow-right.arrow:before
        left: auto
        right: 18px
    i.la
        font-size: 1.5rem


.header-navbar 
    
    .navbar-header
        display: flex
        align-items: center

        .navbar-brand
            padding: 18px 0px
            margin-right: 0

            .brand-logo 
                width: 100%  

            .brand-text
                display: none
                
    